.white {
  background-color: #ffffff;
}

.green {
  background-color: #00ff00;
  color: black;
}

.red {
  background-color: #ff0000;
  color: white;
}

.yellow {
  background-color: #ffff00;
  color: black;
}

.blue {
  background-color: #0000ff;
  color: white;
}

.greenAndRed {
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#f00 0, #f00 100%), linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#0f0 0, #0f0 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.greenAndYellow {
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#0f0 0, #0f0 100%), linear-gradient(#ff0 0, #ff0 100%),
    linear-gradient(#0f0 0, #0f0 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.greenAndBlue {
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#0f0 0, #0f0 100%), linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#00f 0, #00f 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.redAndYellow {
  background-image: linear-gradient(#ff0 0, #ff0 100%),
    linear-gradient(#f00 0, #f00 100%), linear-gradient(#f00 0, #f00 100%),
    linear-gradient(#ff0 0, #ff0 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.redAndBlue {
  background-image: linear-gradient(#f00 0, #f00 100%),
    linear-gradient(#00f 0, #00f 100%), (#00f 0, #00f 100%),
    linear-gradient(#f00 0, #f00 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.yellowAndBlue {
  background-image: linear-gradient(#ff0 0, #ff0 100%),
    linear-gradientlinear-gradient(#00f 0, #00f 100%),
    linear-gradient(#00f 0, #00f 100%), linear-gradient(#ff0 0, #ff0 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.greenAndRedAndYellow {
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#f00 0, #f00 100%), linear-gradient(#ff0 0, #ff0 100%),
    linear-gradient(#0f0 0, #0f0 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

.greenAndRedAndBlue {
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#f00 0, #f00 100%), linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#00f 0, #00f 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}
 .greenAndYellowAndBlue{
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#0f0 0, #0f0 100%), linear-gradient(#ff0 0, #ff0 100%),
    linear-gradient(#00f 0, #00f 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
 }

 .redAndYellowAndBlue{
  background-image: linear-gradient(#ff0 0, #ff0 100%),
    linear-gradient(#f00 0, #f00 100%), linear-gradient(#f00 0, #f00 100%),
    linear-gradient(#00f 0, #00f 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
 }

 .greenAndRedAndYellowAndBlue{
  background-image: linear-gradient(#0f0 0, #0f0 100%),
    linear-gradient(#f00 0, #f00 100%), linear-gradient(#ff0 0, #ff0 100%),
    linear-gradient(#00f 0, #00f 100%);
  background-size: 50% 50%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
 }
// .twoCompositionBackgroundFourScale {
//   background-image: linear-gradient(#0f0 0, #0f0 100%),
//     linear-gradient(#00f 0, #00f 100%), linear-gradient(#00f 0, #00f 100%),
//     linear-gradient(#0f0 0, #0f0 100%);
//   background-size: 50% 50%;
//   background-position: top left, top right, bottom right, bottom left;
//   background-repeat: no-repeat;
// }

// .threeCompositionBackgroundTwoScaleAndThreeScale {
//   background-image: linear-gradient(#0f0 0, #0f0 100%),
//     linear-gradient(#f00 0, #f00 100%), linear-gradient(#ff0 0, #ff0 100%),
//     linear-gradient(#0f0 0, #0f0 100%);
//   background-size: 50% 50%;
//   background-position: top left, top right, bottom right, bottom left;
//   background-repeat: no-repeat;
// }

// .threeCompositionBackgroundTwoScaleAndFourScale {
//   background-image: linear-gradient(#0f0 0, #0f0 100%),
//     linear-gradient(#f00 0, #f00 100%), linear-gradient(#00f 0, #00f 100%),
//     linear-gradient(#0f0 0, #0f0 100%);
//   background-size: 50% 50%;
//   background-position: top left, top right, bottom right, bottom left;
//   background-repeat: no-repeat;
// }

// .fourCompositionBackground {
//   background-image:
//     linear-gradient(#0f0 0, #0f0 100%),
//     linear-gradient(#f00 0, #f00 100%),
//     linear-gradient(#ff0 0, #ff0 100%),
//     linear-gradient(#00f 0, #00f 100%);
//   background-size: 50% 50%;
//   background-position: top left, top right, bottom right, bottom left;
//   background-repeat: no-repeat;
// }

.fretboard {
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  display: flex;
  flex-direction: row;

  .nutt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .notes-nutt {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .fretboard-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #cc6b6b;
    box-sizing: border-box;

    .rope-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      box-sizing: border-box;
      top: 10%;
      width: 100%;
      height: 80%;

      .rope {
        width: 100%;
        height: 2px;
        background-color: #000;
      }
    }

    .fret {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-left-style: solid;
      border-right-style: solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2px;

      .note {
        width: 50%;
        height: 50%;

        .note-container {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-sizing: border-box;
          border: 1px solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: bold;
        }
      }

      &:after {
        content: attr(data-fret);
        font-size: 15px;
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
