<div class="fretboard" [ngStyle]="{ height: heigth }">
  <div class="fretboard-container">
    <div class="rope-container">
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
    </div>
    <div class="fret fret-1" data-fret="1"></div>
    <div class="fret fret-2" data-fret="2"></div>
    <div class="fret fret-3" data-fret="3"></div>
    <div class="fret fret-4" data-fret="4"></div>
    <div class="fret fret-5" data-fret="5"></div>
    <div class="fret fret-6" data-fret="6"></div>
    <div class="fret fret-7" data-fret="7"></div>
    <div class="fret fret-8" data-fret="8"></div>
    <div class="fret fret-9" data-fret="9"></div>
    <div class="fret fret-10" data-fret="10"></div>
    <div class="fret fret-11" data-fret="11"></div>
    <div class="fret fret-12" data-fret="12"></div>
    <div class="fret fret-13" data-fret="13"></div>
    <div class="fret fret-14" data-fret="14"></div>
    <div class="fret fret-15" data-fret="15"></div>
    <div class="fret fret-16" data-fret="16"></div>
    <div class="fret fret-17" data-fret="17"></div>
    <div class="fret fret-18" data-fret="18"></div>
    <div class="fret fret-19" data-fret="19"></div>
    <div class="fret fret-20" data-fret="20"></div>
    <div class="fret fret-21" data-fret="21"></div>
    <div class="fret fret-22" data-fret="22"></div>
    <div class="fret fret-23" data-fret="23"></div>
    <div class="fret fret-24" data-fret="24"></div>
  </div>
</div>
