<div class="fretboard" [ngStyle]="{ height: heigth }">
  <div class="nutt">
    <div
      class="notes-nutt"
      [ngClass]="verifyIfNoteIsInScale(note)"
      *ngFor="let note of getNotesToFret(0)"
    >
      {{ note }}
    </div>
  </div>
  <div class="fretboard-container">
    <div class="rope-container">
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
      <div class="rope"></div>
    </div>

    <div
      class="fret fret-{{ fret }}"
      [attr.data-fret]="fret"
      *ngFor="let fret of counter(numberFrets)"
    >
      <div
        class="note note-{{ i }}"
        *ngFor="let note of getNotesToFret(fret); let i = index"
      >
        <div class="note-container" [ngClass]="verifyIfNoteIsInScale(note)">
          <div class="note-text">{{ note }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
