<div class="keyboard-container">
  <div class="naturals-container">
    <button><p>C</p></button>
    <button><p>D</p></button>
    <button><p>E</p></button>
    <button><p>F</p></button>
    <button><p>G</p></button>
    <button><p>A</p></button>
    <button><p>B</p></button>

  </div>
  <div class="accidentals-container">
    <button class="C">C</button>
    <button class="D">D</button>
    <button class="F">F</button>
    <button class="G">G</button>
    <button class="A">A</button>
  </div>
</div>
<!-- <ul class="set">
  <li class="white c"></li>
  <li class="black cs"></li>
  <li class="white d"></li>
  <li class="black ds"></li>
  <li class="white e"></li>
  <li class="white f"></li>
  <li class="black fs"></li>
  <li class="white g"></li>
  <li class="black gs"></li>
  <li class="white a"></li>
  <li class="black as"></li>
  <li class="white b"></li>

</ul> -->
<!-- <div class="piano">
  <div class="keys">
    <div *ngFor="let key of keys" class="key" [ngClass]="{ 'white': key.color === 'white', 'black': key.color === 'black' }"></div>
  </div>
</div> -->
